@import "tailwindcss";
@import 'flickity/css/flickity.css';


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Be Vietnam Pro', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
.section {
    padding: 30px 0;
    position: relative;
    min-height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

ul {
    list-style: disc;
    padding-left: 1.25rem;
}


/* Basic editor styles */
.tiptap {
    caret-color: #6a00f5;
    margin: 1.5rem;

    :first-child {
        margin-top: 0;
    }

    button, input, select, textarea {
        color: #2e2b29;
        font-family: inherit;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.15;
        background: rgba(61, 37, 20, .08);
        border-radius: 0.5rem;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        padding: 0.375rem 0.625rem;
        transition: 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    /* List styles */
    ul,
    ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    /* Heading styles */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;
        margin-top: 2.5rem;
        text-wrap: pretty;
    }

    h1,
    h2 {
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem;
    }

    /* Code and preformatted text styles */
    code {
        background-color: var(--purple-light);
        border-radius: 0.4rem;
        color: #0a0a0a;
        font-size: 0.85rem;
        padding: 0.25em 0.3em;
    }

    pre {
        background: #0a0a0a;
        border-radius: 0.5rem;
        color: #ffffff;
        font-family: 'JetBrainsMono', monospace;
        margin: 1.5rem 0;
        padding: 0.75rem 1rem;

        code {
            background: none;
            color: inherit;
            font-size: 0.8rem;
            padding: 0;
        }
    }

    hr {
        border: none;
        border-top: 1px solid var(--gray-2);
        margin: 2rem 0;
    }
}

.tiptap:focus {
    outline: none; /* remove default outline */
}

.tiptap-control-group {
    font-size: 0.875rem;
    button.is-active {
        color: #fff;
        background: #6a00f5
    }
}

